.card {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .link {
    text-decoration: none;
    color: black;
  }
  
  .poster {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .title {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
  }
  